// Header
app-header-nav

// Content
.m-grid__item.m-grid__item--fluid.m-grid.m-grid--ver-desktop.m-grid--desktop.m-body
  // Side Navigation
  app-aside-nav
  // Pages
  pages.m-grid__item.m-grid__item--fluid.m-wrapper

//Footer
app-footer
