.page-sidebar.navbar-collapse.collapse
    ul.page-sidebar-menu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
        li.start.nav-item(routerLinkActive='active')
            a( href='javascript:;')
                i.fa.fa-tachometer
                span.title Manage License
                span.selected
        li.start.nav-item(routerLinkActive='active')
            a(href='javascript:')
                i.icon-home
                span.title Create Customer License
                span.selected
        li.nav-item(routerLinkActive='active')
            a.nav-link.nav-toggle(href='javascript:')
                i.icon-book-open
                span.title Developer License
                span.arrow
                span.selected
            ul.sub-menu
                li(routerLinkActive='active')
                    a(href='javascript:;')  All
                    span.selected
                li(routerLinkActive='active')
                    a(href='javascript:;')  Add New
        li.start.nav-item(routerLinkActive='active')
            a(href='javascript:;')
                i.icon-user
                span.title Manage Customers
                span.selected
