.m-grid.m-grid--hor.m-grid--root.m-page(style='height:100%')
  #m_login.m-grid__item.m-grid__item--fluid.m-grid.m-grid--hor.m-login.m-login--singin.m-login--2.m-login-2--skin-2(style='background: #ffffff;height:100%', appunwraptag='')
    .m-grid__item.m-grid__item--fluid.m-login__wrapper
      .m-login__container
        .m-login__logo
          a(href='#')
            img(src='img/logo_default_dark.png')
        .m-login__signin
          .m-login__head
            h3.m-login__title Sign In To Admin
          form.m-login__form.m-form(action='')
            .form-group.m-form__group
              input.form-control.m-input(type='text', placeholder='Email', name='email', autocomplete='off')
            .form-group.m-form__group
              input.form-control.m-input.m-login__form-input--last(type='password', placeholder='Password', name='password')
            .row.m-login__form-sub
              .col.m--align-left.m-login__form-left
                label.m-checkbox.m-checkbox--focus
                  input(type='checkbox', name='remember')
                  | Remember me
                  span
              .col.m--align-right.m-login__form-right
                a#m_login_forget_password.m-link(href='javascript:;') Forget Password ?
            .m-login__form-action
              button#m_login_signin_submit.btn.btn-focus.m-btn.m-btn--pill.m-btn--custom.m-btn--air.m-login__btn.m-login__btn--primary Sign In
        .m-login__signup
          .m-login__head
            h3.m-login__title Sign Up
            .m-login__desc Enter your details to create your account:
          form.m-login__form.m-form(action='')
            .form-group.m-form__group
              input.form-control.m-input(type='text', placeholder='Fullname', name='fullname')
            .form-group.m-form__group
              input.form-control.m-input(type='text', placeholder='Email', name='email', autocomplete='off')
            .form-group.m-form__group
              input.form-control.m-input(type='password', placeholder='Password', name='password')
            .form-group.m-form__group
              input.form-control.m-input.m-login__form-input--last(type='password', placeholder='Confirm Password', name='rpassword')
            .row.form-group.m-form__group.m-login__form-sub
              .col.m--align-left
                label.m-checkbox.m-checkbox--focus
                  input(type='checkbox', name='agree')
                  | I Agree the
                  a.m-link.m-link--focus(href='#') terms and conditions
                  | .
                  span
                span.m-form__help
            .m-login__form-action
              button#m_login_signup_submit.btn.btn-focus.m-btn.m-btn--pill.m-btn--custom.m-btn--air.m-login__btn Sign Up
              button#m_login_signup_cancel.btn.btn-outline-focus.m-btn.m-btn--pill.m-btn--custom.m-login__btn Cancel
        .m-login__forget-password
          .m-login__head
            h3.m-login__title Forgotten Password ?
            .m-login__desc Enter your email to reset your password:
          form.m-login__form.m-form(action='')
            .form-group.m-form__group
              input#m_email.form-control.m-input(type='text', placeholder='Email', name='email', autocomplete='off')
            .m-login__form-action
              button#m_login_forget_password_submit.btn.btn-focus.m-btn.m-btn--pill.m-btn--custom.m-btn--air.m-login__btn.m-login__btn--primaryr Request
              button#m_login_forget_password_cancel.btn.btn-outline-focus.m-btn.m-btn--pill.m-btn--custom.m-login__btn Cancel
        .m-login__account
          span.m-login__account-msg Don't have an account yet ?
          a#m_login_signup.m-link.m-link--light.m-login__account-link(href='javascript:;') Sign Up
