.header-content
  .header-content-inner
    h1#homeHeading QUICK START ANGULARJS 2+ APPLICATION
    hr
    p AngularJS can help you build better websites using the Bootstrap CSS framework! Just download the template and start going, no strings attached!
    a.btn.btn-primary.btn-xl.page-scroll(routerLink="/dashboard") Go to Dashboard