.headline-bg
  .home-margin-top
    .title Welcome to PinakLab.
    p.intro We provide you an exclusive stage to showcase your talent
      br
      | so that you can make an everlasting impression.

    div
      button.white-button Sign In
      button.white-button Sign Up
