.headline-bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    height: 750px;
    background: #253340 url('../../../public/img/banner.jpg') no-repeat 50% top;
    background-size: cover;
}
.home-margin-top{
    margin-top: 20%;
    margin-left: 4%;
}
.title{
    font-size: 45px;
    font-weight: normal;
    // font-family: Roboto;
    color: white;
}
.intro{
    font-size: 18px;
    // font-family: Roboto;
    color: white;
}
.white-button{
    font-size: 20px;
    background: white;
    border: none;
    padding: 14px 45px;
    margin-right: 10px;
    border-radius: 6px;
}

.grey_bg{
    background-color: #F4F4F4;
}
.text-align-center{
    text-align:center;
}
.helpYou,.extrafeature{
    padding:50px!important;
}
.white_bg{
    background-color: white;
    padding-top: 50px;
}


.bg_margin{
    padding-top: 720px;
}

// required classes
h1 {
    color: #888888 !important;
    text-align: center;
    margin-top: 20px;
}
h2 {
    text-align: center;
    font-weight: lighter;
    margin-bottom: 30px;
}
.green_bg{
    background-color: #56D3B5;
    color:white;
    padding:100px 40px!important;
}
.row_no_margin {
    margin: 0 !important;
}
.col_no_padding {
    padding: 0 !important;
}
.fit_img {
    min-width: 100%;
    min-height: 100%;
}
.bg_img {
    background-image: url('../../../public/img/img2.png');
    object-fit: cover;
    position: relative;
    background-size: cover;
    color: white;
    padding: 100px 20px 0px 30px;
 }
 .bg_img:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#7C0B77,#D87049);
    opacity: .6; 
}
.col-sm-2 {
    padding: 10px!important;
}
.col-sm-3 {
    padding: 5px!important;
}
.btn-pos {
    text-align: right;
    margin: 0px 15px 15px 0px;
}
.btn-style {
    border-radius: 5px;
}
.row_pad {
    padding: 10px;
}
.fit_mov {
    max-width: 100%;
    min-height: 100%;
}