.headline-bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
    height: 750px;
    background: #253340 url('../../../public/img/banner.jpg') no-repeat;
    // background-size: cover;
    padding-right: 16px;
}
.home-margin-top{
    margin-top: 20%;
    margin-left: 4%;
}
.title{
    font-size: 45px;
    font-weight: normal;
    // font-family: Roboto;
    color: white;
}
.intro{
    font-size: 18px;
    // font-family: Roboto;
    color: white;
}
.white-button{
    font-size: 20px;
    background: white;
    border: none;
    padding: 14px 45px;
    margin-right: 10px;
    border-radius: 6px;
}

.grey_bg{
    background-color: #F4F4F4;
}
.text-align-center{
    text-align:center;
}
.helpYou,.extrafeature{
    padding:50px!important;
}
.white_bg{
    background-color: white;
    padding-top: 50px;
}


.bg_margin{
    margin-top: 250px;
}

// required classes
h1 {
    color: #888888 !important;
    text-align: center;
    margin-top: 20px;
}
h2 {
    text-align: center;
    font-weight: lighter;
    margin-bottom: 30px;
}
.green_bg{
    background-color: #56D3B5;
    color:white;
    padding:100px 40px!important;
}
.row_no_margin {
    margin: 0 !important;
}
.col_no_padding {
    padding: 0 !important;
}
.fit_img {
    min-width: 100%;
    min-height: 100%;
}
.bg_img {
    background-image: url('../../../public/img/img2.png');
    object-fit: cover;
    position: relative;
    background-size: cover;
    color: white;
    padding: 100px 20px 0px 30px;
 }
 .bg_img:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right,#7C0B77,#D87049);
    opacity: .6; 
}
.col-sm-2 {
    padding: 10px!important;
}
.col-sm-3 {
    padding: 5px!important;
}
.btn-pos {
    text-align: right;
    margin: 0px 15px 15px 0px;
}
.btn-style {
    border-radius: 5px;
}
.row_pad {
    padding: 10px;
}
.fit_mov {
    max-width: 100%;
    min-height: 100%;
}
.no-pad {
    padding: 0 !important;
    max-width: 100%;
}
.title-style {
    font-size: 22px;
    margin-left: 36%;
}
.input-icon{
    position: absolute;
    left: 8px;
    top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
}
input{
    padding-left: 22px !important;
}
.input-wrapper{
    position: relative;
    padding: 10px 0 10px 0;
}
.btn-login {
    background: #dd4b39;
    border-radius: 4px;
}
.btn-fb {
    background: #4267b2;
    border-radius: 4px;
    color: white;
}
.btn-gplus {
    background: #df4b38;
    border-radius: 4px;
    color: white;
}
.forgot-password {
    color: #888888;
}
.remember {
    padding-top: 12px;
}
.signup-link {
    color: #dd4b39;
}
.divider {
    border-left: 1px solid;
    color:#e9ecef;
    height: 80%;
    position: absolute;
    left: 50%;
}
.social-login {
    margin-top: 20%;
    // margin-left: 12%;
}
.form-box {
    padding: 0 120px;
}
.btn-register {
    background: #dd4b39;
    border-radius: 4px;
    color: white;
}
.pad-top {
    padding-top: 20px;
}