section#profile.background
  .container
    .row
      .col-md-12
        .card
          .margins
            h2.allign-head Actors
            .row.row_no_margin
              .col-md-2(*ngFor="let item of arr;")
                .pic.fit_reel
            h2.allign-h2 View All

      .col-md-12
        .card
          .margins
            h2.allign-head Musicians
            .row.row_no_margin
              .col-md-2(*ngFor="let item of arr;")
                .pic.fit_reel
            h2.allign-h2 View All
    