.m-content
  // Begin::Main Portlet
  .row
    .col-xl-6
      // begin:: Widgets/Tasks
      .m-portlet.m-portlet--full-height
        .m-portlet__head
          .m-portlet__head-caption
            .m-portlet__head-title
              h3.m-portlet__head-text Tasks
          .m-portlet__head-tools
            ul.nav.nav-pills.nav-pills--brand.m-nav-pills--align-right.m-nav-pills--btn-pill.m-nav-pills--btn-sm(role='tablist')
              li.nav-item.m-tabs__item
                a.nav-link.m-tabs__link.active(data-toggle='tab', href='#m_widget2_tab1_content', role='tab') Today
              li.nav-item.m-tabs__item
                a.nav-link.m-tabs__link(data-toggle='tab', href='#m_widget2_tab2_content1', role='tab') Week
              li.nav-item.m-tabs__item
                a.nav-link.m-tabs__link(data-toggle='tab', href='#m_widget2_tab3_content1', role='tab') Month
        .m-portlet__body
          .tab-content
            #m_widget2_tab1_content.tab-pane.active
              .m-widget2
                .m-widget2__item.m-widget2__item--primary
                  .m-widget2__checkbox
                    label.m-checkbox.m-checkbox--solid.m-checkbox--single.m-checkbox--brand
                      input(type='checkbox')
                      span
                  .m-widget2__desc
                    span.m-widget2__text Make Metronic Great  Again.Lorem Ipsum Amet
                    br
                    span.m-widget2__user-name
                      a.m-widget2__link(href='#') By Bob
                  .m-widget2__actions
                    .m-widget2__actions-nav
                      .m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push(data-dropdown-toggle='hover')
                        a.m-dropdown__toggle(href='#')
                          i.la.la-ellipsis-h
                        .m-dropdown__wrapper
                          span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                          .m-dropdown__inner
                            .m-dropdown__body
                              .m-dropdown__content
                                ul.m-nav
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-share
                                      span.m-nav__link-text Activity
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-chat-1
                                      span.m-nav__link-text Messages
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-info
                                      span.m-nav__link-text FAQ
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-lifebuoy
                                      span.m-nav__link-text Support
                .m-widget2__item.m-widget2__item--warning
                  .m-widget2__checkbox
                    label.m-checkbox.m-checkbox--solid.m-checkbox--single.m-checkbox--brand
                      input(type='checkbox')
                      span
                  .m-widget2__desc
                    span.m-widget2__text Prepare Docs For Metting On Monday
                    br
                    span.m-widget2__user-name
                      a.m-widget2__link(href='#') By Sean
                  .m-widget2__actions
                    .m-widget2__actions-nav
                      .m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push(data-dropdown-toggle='hover')
                        a.m-dropdown__toggle(href='#')
                          i.la.la-ellipsis-h
                        .m-dropdown__wrapper
                          span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                          .m-dropdown__inner
                            .m-dropdown__body
                              .m-dropdown__content
                                ul.m-nav
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-share
                                      span.m-nav__link-text Activity
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-chat-1
                                      span.m-nav__link-text Messages
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-info
                                      span.m-nav__link-text FAQ
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-lifebuoy
                                      span.m-nav__link-text Support
                .m-widget2__item.m-widget2__item--brand
                  .m-widget2__checkbox
                    label.m-checkbox.m-checkbox--solid.m-checkbox--single.m-checkbox--brand
                      input(type='checkbox')
                      span
                  .m-widget2__desc
                    span.m-widget2__text Make Widgets Great Again.Estudiat Communy Elit
                    br
                    span.m-widget2__user-name
                      a.m-widget2__link(href='#') By Aziko
                  .m-widget2__actions
                    .m-widget2__actions-nav
                      .m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push(data-dropdown-toggle='hover')
                        a.m-dropdown__toggle(href='#')
                          i.la.la-ellipsis-h
                        .m-dropdown__wrapper
                          span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                          .m-dropdown__inner
                            .m-dropdown__body
                              .m-dropdown__content
                                ul.m-nav
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-share
                                      span.m-nav__link-text Activity
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-chat-1
                                      span.m-nav__link-text Messages
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-info
                                      span.m-nav__link-text FAQ
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-lifebuoy
                                      span.m-nav__link-text Support
                .m-widget2__item.m-widget2__item--success
                  .m-widget2__checkbox
                    label.m-checkbox.m-checkbox--solid.m-checkbox--single.m-checkbox--brand
                      input(type='checkbox')
                      span
                  .m-widget2__desc
                    span.m-widget2__text Make Metronic Great Again.Lorem Ipsum
                    br
                    span.m-widget2__user-name
                      a.m-widget2__link(href='#') By James
                  .m-widget2__actions
                    .m-widget2__actions-nav
                      .m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push(data-dropdown-toggle='hover')
                        a.m-dropdown__toggle(href='#')
                          i.la.la-ellipsis-h
                        .m-dropdown__wrapper
                          span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                          .m-dropdown__inner
                            .m-dropdown__body
                              .m-dropdown__content
                                ul.m-nav
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-share
                                      span.m-nav__link-text Activity
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-chat-1
                                      span.m-nav__link-text Messages
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-info
                                      span.m-nav__link-text FAQ
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-lifebuoy
                                      span.m-nav__link-text Support
                .m-widget2__item.m-widget2__item--danger
                  .m-widget2__checkbox
                    label.m-checkbox.m-checkbox--solid.m-checkbox--single.m-checkbox--brand
                      input(type='checkbox')
                      span
                  .m-widget2__desc
                    span.m-widget2__text Completa Financial Report For Emirates Airlines
                    br
                    span.m-widget2__user-name
                      a.m-widget2__link(href='#') By Bob
                  .m-widget2__actions
                    .m-widget2__actions-nav
                      .m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push(data-dropdown-toggle='hover')
                        a.m-dropdown__toggle(href='#')
                          i.la.la-ellipsis-h
                        .m-dropdown__wrapper
                          span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                          .m-dropdown__inner
                            .m-dropdown__body
                              .m-dropdown__content
                                ul.m-nav
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-share
                                      span.m-nav__link-text Activity
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-chat-1
                                      span.m-nav__link-text Messages
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-info
                                      span.m-nav__link-text FAQ
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-lifebuoy
                                      span.m-nav__link-text Support
                .m-widget2__item.m-widget2__item--info
                  .m-widget2__checkbox
                    label.m-checkbox.m-checkbox--solid.m-checkbox--single.m-checkbox--brand
                      input(type='checkbox')
                      span
                  .m-widget2__desc
                    span.m-widget2__text Completa Financial Report For Emirates Airlines
                    br
                    span.m-widget2__user-name
                      a.m-widget2__link(href='#') By Sean
                  .m-widget2__actions
                    .m-widget2__actions-nav
                      .m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push(data-dropdown-toggle='hover')
                        a.m-dropdown__toggle(href='#')
                          i.la.la-ellipsis-h
                        .m-dropdown__wrapper
                          span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                          .m-dropdown__inner
                            .m-dropdown__body
                              .m-dropdown__content
                                ul.m-nav
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-share
                                      span.m-nav__link-text Activity
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-chat-1
                                      span.m-nav__link-text Messages
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-info
                                      span.m-nav__link-text FAQ
                                  li.m-nav__item
                                    a.m-nav__link(href='')
                                      i.m-nav__link-icon.flaticon-lifebuoy
                                      span.m-nav__link-text Support
            #m_widget2_tab2_content.tab-pane
            #m_widget2_tab3_content.tab-pane
      // end:: Widgets/Tasks
    .col-xl-6
      // begin:: Widgets/Support Tickets
      .m-portlet.m-portlet--full-height
        .m-portlet__head
          .m-portlet__head-caption
            .m-portlet__head-title
              h3.m-portlet__head-text Support Tickets
          .m-portlet__head-tools
            ul.m-portlet__nav
              li.m-portlet__nav-item.m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push(data-dropdown-toggle='hover', aria-expanded='true')
                a.m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-xl.m-dropdown__toggle(href='#')
                  i.la.la-ellipsis-h.m--font-brand
                .m-dropdown__wrapper
                  span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                  .m-dropdown__inner
                    .m-dropdown__body
                      .m-dropdown__content
                        ul.m-nav
                          li.m-nav__item
                            a.m-nav__link(href='')
                              i.m-nav__link-icon.flaticon-share
                              span.m-nav__link-text Activity
                          li.m-nav__item
                            a.m-nav__link(href='')
                              i.m-nav__link-icon.flaticon-chat-1
                              span.m-nav__link-text Messages
                          li.m-nav__item
                            a.m-nav__link(href='')
                              i.m-nav__link-icon.flaticon-info
                              span.m-nav__link-text FAQ
                          li.m-nav__item
                            a.m-nav__link(href='')
                              i.m-nav__link-icon.flaticon-lifebuoy
                              span.m-nav__link-text Support
        .m-portlet__body
          .m-widget3
            .m-widget3__item
              .m-widget3__header
                .m-widget3__user-img
                  img.m-widget3__img(src='img/user5.jpg', alt='')
                .m-widget3__info
                  span.m-widget3__username Melania Trump
                  br
                  span.m-widget3__time 2 day ago
                span.m-widget3__status.m--font-info Pending
              .m-widget3__body
                p.m-widget3__text Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.
            .m-widget3__item
              .m-widget3__header
                .m-widget3__user-img
                  img.m-widget3__img(src='img/user5.jpg', alt='')
                .m-widget3__info
                  span.m-widget3__username Lebron King James
                  br
                  span.m-widget3__time 1 day ago
                span.m-widget3__status.m--font-brand Open
              .m-widget3__body
                p.m-widget3__text Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.Ut wisi enim ad minim veniam,quis nostrud exerci tation ullamcorper.
            .m-widget3__item
              .m-widget3__header
                .m-widget3__user-img
                  img.m-widget3__img(src='img/user5.jpg', alt='')
                .m-widget3__info
                  span.m-widget3__username Deb Gibson
                  br
                  span.m-widget3__time 3 weeks ago
                span.m-widget3__status.m--font-success Closed
              .m-widget3__body
                p.m-widget3__text Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy nibh euismod tinciduntut laoreet doloremagna aliquam erat volutpat.
      // end:: Widgets/Support Tickets
  // End::Main Portlet
  // Begin::Main Portlet
  .row
    .col-xl-4
      // begin:: Widgets/New Users
      .m-portlet.m-portlet--full-height
        .m-portlet__head
          .m-portlet__head-caption
            .m-portlet__head-title
              h3.m-portlet__head-text New Users
          .m-portlet__head-tools
            ul.nav.nav-pills.nav-pills--brand.m-nav-pills--align-right.m-nav-pills--btn-pill.m-nav-pills--btn-sm(role='tablist')
              li.nav-item.m-tabs__item
                a.nav-link.m-tabs__link.active(data-toggle='tab', href='#m_widget4_tab1_content', role='tab') Today
              li.nav-item.m-tabs__item
                a.nav-link.m-tabs__link(data-toggle='tab', href='#m_widget4_tab2_content', role='tab') Month
        .m-portlet__body
          .tab-content
            #m_widget4_tab1_content.tab-pane.active
              // begin::Widget 14
              .m-widget4
                // begin::Widget 14 Item
                .m-widget4__item
                  .m-widget4__img.m-widget4__img--pic
                    img(src='img/100_7.jpg', alt='')
                  .m-widget4__info
                    span.m-widget4__title Anna Strong
                    br
                    span.m-widget4__sub Visual Designer,Google Inc
                  .m-widget4__ext
                    a.m-btn.m-btn--pill.m-btn--hover-brand.btn.btn-sm.btn-secondary(href='#') Follow
                // end::Widget 14 Item
                // begin::Widget 14 Item
                .m-widget4__item
                  .m-widget4__img.m-widget4__img--pic
                    img(src='img/100_7.jpg', alt='')
                  .m-widget4__info
                    span.m-widget4__title Milano Esco
                    br
                    span.m-widget4__sub Product Designer, Apple Inc
                  .m-widget4__ext
                    a.m-btn.m-btn--pill.m-btn--hover-brand.btn.btn-sm.btn-secondary(href='#') Follow
                // end::Widget 14 Item
                // begin::Widget 14 Item
                .m-widget4__item
                  .m-widget4__img.m-widget4__img--pic
                    img(src='img/100_7.jpg', alt='')
                  .m-widget4__info
                    span.m-widget4__title Nick Bold
                    br
                    span.m-widget4__sub Web Developer, Facebook Inc
                  .m-widget4__ext
                    a.m-btn.m-btn--pill.m-btn--hover-brand.btn.btn-sm.btn-secondary(href='#') Follow
                // end::Widget 14 Item
                // begin::Widget 14 Item
                .m-widget4__item
                  .m-widget4__img.m-widget4__img--pic
                    img(src='img/100_7.jpg', alt='')
                  .m-widget4__info
                    span.m-widget4__title Wiltor Delton
                    br
                    span.m-widget4__sub Project Manager, Amazon Inc
                  .m-widget4__ext
                    a.m-btn.m-btn--pill.m-btn--hover-brand.btn.btn-sm.btn-secondary(href='#') Follow
                // end::Widget 14 Item
                // begin::Widget 14 Item
                .m-widget4__item
                  .m-widget4__img.m-widget4__img--pic
                    img(src='img/100_7.jpg', alt='')
                  .m-widget4__info
                    span.m-widget4__title Nick Stone
                    br
                    span.m-widget4__sub Visual Designer, Github Inc
                  .m-widget4__ext
                    a.m-btn.m-btn--pill.m-btn--hover-brand.btn.btn-sm.btn-secondary(href='#') Follow
                // end::Widget 14 Item
              // end::Widget 14
            #m_widget4_tab2_content.tab-pane
              // begin::Widget 14
              .m-widget4
                // begin::Widget 14 Item
                .m-widget4__item
                  .m-widget4__img.m-widget4__img--pic
                    img(src='img/100_7.jpg', alt='')
                  .m-widget4__info
                    span.m-widget4__title Kristika Bold
                    br
                    span.m-widget4__sub Product Designer,Apple Inc
                  .m-widget4__ext
                    a.m-btn.m-btn--pill.m-btn--hover-brand.btn.btn-sm.btn-secondary(href='#') Follow
                // end::Widget 14 Item
                // begin::Widget 14 Item
                .m-widget4__item
                  .m-widget4__img.m-widget4__img--pic
                    img(src='img/100_7.jpg', alt='')
                  .m-widget4__info
                    span.m-widget4__title Ron Silk
                    br
                    span.m-widget4__sub Release Manager, Loop Inc
                  .m-widget4__ext
                    a.m-btn.m-btn--pill.m-btn--hover-brand.btn.btn-sm.btn-secondary(href='#') Follow
                // end::Widget 14 Item
                // begin::Widget 14 Item
                .m-widget4__item
                  .m-widget4__img.m-widget4__img--pic
                    img(src='img/100_7.jpg', alt='')
                  .m-widget4__info
                    span.m-widget4__title Nick Bold
                    br
                    span.m-widget4__sub Web Developer, Facebook Inc
                  .m-widget4__ext
                    a.m-btn.m-btn--pill.m-btn--hover-brand.btn.btn-sm.btn-secondary(href='#') Follow
                // end::Widget 14 Item
                // begin::Widget 14 Item
                .m-widget4__item
                  .m-widget4__img.m-widget4__img--pic
                    img(src='img/100_7.jpg', alt='')
                  .m-widget4__info
                    span.m-widget4__title Wiltor Delton
                    br
                    span.m-widget4__sub Project Manager, Amazon Inc
                  .m-widget4__ext
                    a.m-btn.m-btn--pill.m-btn--hover-brand.btn.btn-sm.btn-secondary(href='#') Follow
                // end::Widget 14 Item
                // end::Widget 14 Item
                // begin::Widget 14 Item
                .m-widget4__item
                  .m-widget4__img.m-widget4__img--pic
                    img(src='img/100_7.jpg', alt='')
                  .m-widget4__info
                    span.m-widget4__title Nick Bold
                    br
                    span.m-widget4__sub Web Developer, Facebook Inc
                  .m-widget4__ext
                    a.m-btn.m-btn--pill.m-btn--hover-brand.btn.btn-sm.btn-secondary(href='#') Follow
                // end::Widget 14 Item
              // end::Widget 14
      // end:: Widgets/New Users
    .col-xl-4
      // begin:: Widgets/Last Updates
      .m-portlet.m-portlet--full-height
        .m-portlet__head
          .m-portlet__head-caption
            .m-portlet__head-title
              h3.m-portlet__head-text Latest Updates
          .m-portlet__head-tools
            ul.m-portlet__nav
              li.m-portlet__nav-item.m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push(data-dropdown-toggle='hover')
                a.m-portlet__nav-link.m-dropdown__toggle.dropdown-toggle.btn.btn--sm.m-btn--pill.btn-secondary.m-btn.m-btn--label-brand(href='#')
                  | Today
                .m-dropdown__wrapper
                  span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                  .m-dropdown__inner
                    .m-dropdown__body
                      .m-dropdown__content
                        ul.m-nav
                          li.m-nav__item
                            a.m-nav__link(href='')
                              i.m-nav__link-icon.flaticon-share
                              span.m-nav__link-text Activity
                          li.m-nav__item
                            a.m-nav__link(href='')
                              i.m-nav__link-icon.flaticon-chat-1
                              span.m-nav__link-text Messages
                          li.m-nav__item
                            a.m-nav__link(href='')
                              i.m-nav__link-icon.flaticon-info
                              span.m-nav__link-text FAQ
                          li.m-nav__item
                            a.m-nav__link(href='')
                              i.m-nav__link-icon.flaticon-lifebuoy
                              span.m-nav__link-text Support
        .m-portlet__body
          // begin::widget 12
          .m-widget4
            .m-widget4__item
              .m-widget4__ext
                span.m-widget4__icon.m--font-brand
                  i.flaticon-interface-3
              .m-widget4__info
                span.m-widget4__text Make Metronic Great Again
              .m-widget4__ext
                span.m-widget4__number.m--font-info +500
            .m-widget4__item
              .m-widget4__ext
                span.m-widget4__icon.m--font-brand
                  i.flaticon-folder-4
              .m-widget4__info
                span.m-widget4__text Green Maker Team
              .m-widget4__ext
                span.m-widget4__number.m--font-info -64
            .m-widget4__item
              .m-widget4__ext
                span.m-widget4__icon.m--font-brand
                  i.flaticon-line-graph
              .m-widget4__info
                span.m-widget4__text Make Apex Great Again
              .m-widget4__ext
                span.m-widget4__number.m--font-info +1080
            .m-widget4__item
              .m-widget4__ext
                span.m-widget4__icon.m--font-brand
                  i.flaticon-diagram
              .m-widget4__info
                span.m-widget4__text A Programming Language
              .m-widget4__ext
                span.m-widget4__number.m--font-info +19
            .m-widget4__item.m-widget4__item-border
              .m-widget4__ext
                span.m-widget4__icon.m--font-brand
                  i.flaticon-music
              .m-widget4__info
                span.m-widget4__text Red Painted Truck
              .m-widget4__ext
                span.m-widget4__number.m--font-info +134
            .m-widget4__item.m-widget4__item-border
              .m-widget4__ext
                span.m-widget4__icon.m--font-brand
                  i.flaticon-user
              .m-widget4__info
                span.m-widget4__text New Customer
              .m-widget4__ext
                span.m-widget4__number.m--font-info +13%
          // end::Widget 12
      // end:: Widgets/Last Updates
    .col-xl-4
      // begin:: Widgets/Announcements 2
      .m-portlet.m--bg-danger.m-portlet--bordered-semi.m-portlet--skin-dark.m-portlet--full-height
        .m-portlet__head
          .m-portlet__head-caption
            .m-portlet__head-title
              h3.m-portlet__head-text Announcements
          .m-portlet__head-tools
            ul.m-portlet__nav
              li.m-portlet__nav-item.m-dropdown.m-dropdown--inline.m-dropdown--arrow.m-dropdown--align-right.m-dropdown--align-push(data-dropdown-toggle='hover')
                a.m-portlet__nav-link.m-portlet__nav-link--icon.m-portlet__nav-link--icon-xl(href='#')
                  i.la.la-ellipsis-h.m--font-light
                .m-dropdown__wrapper
                  span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                  .m-dropdown__inner
                    .m-dropdown__body
                      .m-dropdown__content
                        ul.m-nav
                          li.m-nav__section.m-nav__section--first
                            span.m-nav__section-text Quick Actions
                          li.m-nav__item
                            a.m-nav__link(href='')
                              i.m-nav__link-icon.flaticon-share
                              span.m-nav__link-text Activity
                          li.m-nav__item
                            a.m-nav__link(href='')
                              i.m-nav__link-icon.flaticon-chat-1
                              span.m-nav__link-text Messages
                          li.m-nav__item
                            a.m-nav__link(href='')
                              i.m-nav__link-icon.flaticon-info
                              span.m-nav__link-text FAQ
                          li.m-nav__item
                            a.m-nav__link(href='')
                              i.m-nav__link-icon.flaticon-lifebuoy
                              span.m-nav__link-text Support
                          li.m-nav__separator.m-nav__separator--fit
                          li.m-nav__item
                            a.btn.btn-outline-danger.m-btn.m-btn--pill.m-btn--wide.btn-sm(href='#') Cancel
        .m-portlet__body
          // begin::Widget 7
          .m-widget7.m-widget7--skin-dark
            .m-widget7__desc Lorem ipsum dolor sit amet,consectetuer edipiscing elit,sed diam nonummy euismod tinciduntut laoreet doloremagna
            .m-widget7__user
              .m-widget7__user-img
                img.m-widget7__img(src='img/100_7.jpg', alt='')
              .m-widget7__info
                span.m-widget7__username Nick Mana
                br
                span.m-widget7__time 6 hours ago
            .m-widget7__button
              a.m-btn.m-btn--pill.btn.btn-accent(href='#', role='button') All Feeds
          // end::Widget 7
      // end:: Widgets/Announcements 2
  // End::Main Portlet
