// BEGIN: Header
header.m-grid__item.m-header(data-minimize-mobile='hide', data-minimize-offset='200', data-minimize-mobile-offset='200', appunwraptag='')
  .m-container.m-container--fluid.m-container--full-height
    .m-stack.m-stack--ver.m-stack--desktop
      // BEGIN: Brand
      .m-stack__item.m-brand.m-brand--skin-dark
        .m-stack.m-stack--ver.m-stack--general
          .m-stack__item.m-stack__item--middle.m-brand__logo
            a.m-brand__logo-wrapper(routerLink='/dashboard')
              img(alt='', src='img/logo_default_dark.png')
          .m-stack__item.m-stack__item--middle.m-brand__tools
            // BEGIN: Left Aside Minimize Toggle
            a#m_aside_left_minimize_toggle.m-brand__icon.m-brand__toggler.m-brand__toggler--left.m--visible-desktop-inline-block(href='javascript:;')
              span
            // END
            // BEGIN: Responsive Aside Left Menu Toggler
            a#m_aside_left_offcanvas_toggle.m-brand__icon.m-brand__toggler.m-brand__toggler--left.m--visible-tablet-and-mobile-inline-block(href='javascript:;')
              span
            // END
            // BEGIN: Responsive Header Menu Toggler
            a#m_aside_header_menu_mobile_toggle.m-brand__icon.m-brand__toggler.m--visible-tablet-and-mobile-inline-block(href='javascript:;')
              span
            // END
            // BEGIN: Topbar Toggler
            a#m_aside_header_topbar_mobile_toggle.m-brand__icon.m--visible-tablet-and-mobile-inline-block(href='javascript:;')
              i.flaticon-more
            // BEGIN: Topbar Toggler
      // END: Brand
      #m_header_nav.m-stack__item.m-stack__item--fluid.m-header-head
        // BEGIN: Horizontal Menu
        #m_header_menu.m-header-menu.m-aside-header-menu-mobile.m-aside-header-menu-mobile--offcanvas.m-header-menu--skin-light.m-header-menu--submenu-skin-light.m-aside-header-menu-mobile--skin-dark.m-aside-header-menu-mobile--submenu-skin-dark
          ul.m-menu__nav.m-menu__nav--submenu-arrow
            li.m-menu__item.m-menu__item--submenu.m-menu__item--rel(
              routerLinkActive='m-menu__item--active',
              [routerLinkActiveOptions]='{ exact: true }',
              data-menu-submenu-toggle='click',
              aria-haspopup='true')
              a.m-menu__link.m-menu__toggle(href='#')
                i.m-menu__link-icon.flaticon-add
                span.m-menu__link-text Actions
                i.m-menu__hor-arrow.la.la-angle-down
                i.m-menu__ver-arrow.la.la-angle-right
              .m-menu__submenu.m-menu__submenu--classic.m-menu__submenu--left
                span.m-menu__arrow.m-menu__arrow--adjust
                ul.m-menu__subnav
                  li.m-menu__item(routerLinkActive='m-menu__item--active', [routerLinkActiveOptions]='{ exact: true }', aria-haspopup='true')
                    a.m-menu__link(routerLink='/header/actions')
                      i.m-menu__link-icon.flaticon-file
                      span.m-menu__link-text Create New Post
                  li.m-menu__item(data-redirect='true', aria-haspopup='true')
                    a.m-menu__link(routerLink='/header/actions')
                      i.m-menu__link-icon.flaticon-diagram
                      span.m-menu__link-title
                        span.m-menu__link-wrap
                          span.m-menu__link-text Generate Reports
                          span.m-menu__link-badge
                            span.m-badge.m-badge--success 2
                  li.m-menu__item.m-menu__item--submenu(data-menu-submenu-toggle='hover', aria-haspopup='true')
                    a.m-menu__link.m-menu__toggle(href='#')
                      i.m-menu__link-icon.flaticon-business
                      span.m-menu__link-text Manage Orders
                      i.m-menu__hor-arrow.la.la-angle-right
                      i.m-menu__ver-arrow.la.la-angle-right
                    .m-menu__submenu.m-menu__submenu--classic.m-menu__submenu--right
                      span.m-menu__arrow
                      ul.m-menu__subnav
                        li.m-menu__item(data-redirect='true', aria-haspopup='true')
                          a.m-menu__link(routerLink='/header/actions')
                            span.m-menu__link-text Latest Orders
                        li.m-menu__item(data-redirect='true', aria-haspopup='true')
                          a.m-menu__link(routerLink='/header/actions')
                            span.m-menu__link-text Pending Orders
                        li.m-menu__item(data-redirect='true', aria-haspopup='true')
                          a.m-menu__link(routerLink='/header/actions')
                            span.m-menu__link-text Processed Orders
                        li.m-menu__item(data-redirect='true', aria-haspopup='true')
                          a.m-menu__link(routerLink='/header/actions')
                            span.m-menu__link-text Delivery Reports
                        li.m-menu__item(data-redirect='true', aria-haspopup='true')
                          a.m-menu__link(routerLink='/header/actions')
                            span.m-menu__link-text Payments
                        li.m-menu__item(data-redirect='true', aria-haspopup='true')
                          a.m-menu__link(routerLink='/header/actions')
                            span.m-menu__link-text Customers
                  li.m-menu__item.m-menu__item--submenu(data-menu-submenu-toggle='hover', aria-haspopup='true')
                    a.m-menu__link.m-menu__toggle(href='#')
                      i.m-menu__link-icon.flaticon-chat-1
                      span.m-menu__link-text Customer Feedbacks
                      i.m-menu__hor-arrow.la.la-angle-right
                      i.m-menu__ver-arrow.la.la-angle-right
                    .m-menu__submenu.m-menu__submenu--classic.m-menu__submenu--right
                      span.m-menu__arrow
                      ul.m-menu__subnav
                        li.m-menu__item(data-redirect='true', aria-haspopup='true')
                          a.m-menu__link(routerLink='/header/actions')
                            span.m-menu__link-text Customer Feedbacks
                        li.m-menu__item(data-redirect='true', aria-haspopup='true')
                          a.m-menu__link(routerLink='/header/actions')
                            span.m-menu__link-text Supplier Feedbacks
                        li.m-menu__item(data-redirect='true', aria-haspopup='true')
                          a.m-menu__link(routerLink='/header/actions')
                            span.m-menu__link-text Reviewed Feedbacks
                        li.m-menu__item(data-redirect='true', aria-haspopup='true')
                          a.m-menu__link(routerLink='/header/actions')
                            span.m-menu__link-text Resolved Feedbacks
                        li.m-menu__item(data-redirect='true', aria-haspopup='true')
                          a.m-menu__link(routerLink='/header/actions')
                            span.m-menu__link-text Feedback Reports
                  li.m-menu__item(data-redirect='true', aria-haspopup='true')
                    a.m-menu__link(routerLink='/header/actions')
                      i.m-menu__link-icon.flaticon-users
                      span.m-menu__link-text Register Member
        // END: Horizontal Menu
        // BEGIN: Topbar
        #m_header_topbar.m-topbar.m-stack.m-stack--ver.m-stack--general
          .m-stack__item.m-topbar__nav-wrapper
            ul.m-topbar__nav.m-nav.m-nav--inline
              // BEGIN: Notifications
              li.m-nav__item.m-topbar__notifications.m-topbar__notifications--img.m-dropdown.m-dropdown--large.m-dropdown--header-bg-fill.m-dropdown--arrow.m-dropdown--align-center.m-dropdown--mobile-full-width(data-dropdown-toggle='click', data-dropdown-persistent='true')
                a#m_topbar_notification_icon.m-nav__link.m-dropdown__toggle(href='#')
                  span.m-nav__link-badge.m-badge.m-badge--dot.m-badge--dot-small.m-badge--danger
                  span.m-nav__link-icon
                    i.flaticon-music-2
                .m-dropdown__wrapper
                  span.m-dropdown__arrow.m-dropdown__arrow--center
                  .m-dropdown__inner
                    .m-dropdown__header.m--align-center(style='background: url(img/notification_bg.jpg); background-size: cover;')
                      span.m-dropdown__header-title 9 New
                      span.m-dropdown__header-subtitle User Notifications
                    .m-dropdown__body
                      .m-dropdown__content
                        ul.nav.nav-tabs.m-tabs.m-tabs-line.m-tabs-line--brand(role='tablist')
                          li.nav-item.m-tabs__item
                            a.nav-link.m-tabs__link.active(data-toggle='tab', href='#topbar_notifications_notifications', role='tab') Alerts
                          li.nav-item.m-tabs__item
                            a.nav-link.m-tabs__link(data-toggle='tab', href='#topbar_notifications_events', role='tab') Events
                          li.nav-item.m-tabs__item
                            a.nav-link.m-tabs__link(data-toggle='tab', href='#topbar_notifications_logs', role='tab') Logs
                        .tab-content
                          #topbar_notifications_notifications.tab-pane.active(role='tabpanel')
                            .m-scrollable(data-scrollable='true', data-max-height='250', data-mobile-max-height='200')
                              .m-list-timeline.m-list-timeline--skin-light
                                .m-list-timeline__items
                                  .m-list-timeline__item
                                    span.m-list-timeline__badge.-m-list-timeline__badge--state-success
                                    span.m-list-timeline__text 12 new users registered
                                    span.m-list-timeline__time Just now
                                  .m-list-timeline__item
                                    span.m-list-timeline__badge
                                    span.m-list-timeline__text System shutdown
                                      span.m-badge.m-badge--success.m-badge--wide pending
                                    span.m-list-timeline__time 14 mins
                                  .m-list-timeline__item
                                    span.m-list-timeline__badge
                                    span.m-list-timeline__text New invoice received
                                    span.m-list-timeline__time 20 mins
                                  .m-list-timeline__item
                                    span.m-list-timeline__badge
                                    span.m-list-timeline__text DB overloaded 80%
                                      span.m-badge.m-badge--info.m-badge--wide settled
                                    span.m-list-timeline__time 1 hr
                                  .m-list-timeline__item
                                    span.m-list-timeline__badge
                                    span.m-list-timeline__text System error -
                                      a.m-link(href='#') Check
                                    span.m-list-timeline__time 2 hrs
                                  .m-list-timeline__item
                                    span.m-list-timeline__badge
                                    span.m-list-timeline__text Production server down
                                    span.m-list-timeline__time 3 hrs
                                  .m-list-timeline__item
                                    span.m-list-timeline__badge
                                    span.m-list-timeline__text Production server up
                                    span.m-list-timeline__time 5 hrs
                                  .m-list-timeline__item
                                    span.m-list-timeline__badge
                                    span.m-list-timeline__text(href='') New order received
                                      span.m-badge.m-badge--danger.m-badge--wide urgent
                                    span.m-list-timeline__time 7 hrs
                          #topbar_notifications_events.tab-pane(role='tabpanel')
                            .m-scrollable(m-scrollabledata-scrollable='true', data-max-height='250', data-mobile-max-height='200')
                              .m-list-timeline.m-list-timeline--skin-light
                                .m-list-timeline__items
                                  .m-list-timeline__item
                                    span.m-list-timeline__badge.m-list-timeline__badge--state1-success
                                    a.m-list-timeline__text(href='') New order received
                                    span.m-list-timeline__time Just now
                                  .m-list-timeline__item
                                    span.m-list-timeline__badge.m-list-timeline__badge--state1-danger
                                    a.m-list-timeline__text(href='') New invoice received
                                    span.m-list-timeline__time 20 mins
                                  .m-list-timeline__item
                                    span.m-list-timeline__badge.m-list-timeline__badge--state1-success Production server up
                                    span.m-list-timeline__time 5 hrs
                                  .m-list-timeline__item
                                    span.m-list-timeline__badge.m-list-timeline__badge--state1-info
                                    a.m-list-timeline__text(href='') New order received
                                    span.m-list-timeline__time 7 hrs
                                  .m-list-timeline__item
                                    span.m-list-timeline__badge.m-list-timeline__badge--state1-info
                                    a.m-list-timeline__text(href='') System shutdown
                                    span.m-list-timeline__time 11 mins
                                  .m-list-timeline__item
                                    span.m-list-timeline__badge.m-list-timeline__badge--state1-info
                                    a.m-list-timeline__text(href='') Production server down
                                    span.m-list-timeline__time 3 hrs
                          #topbar_notifications_logs.tab-pane(role='tabpanel')
                            .m-stack.m-stack--ver.m-stack--general(style='min-height: 180px;')
                              .m-stack__item.m-stack__item--center.m-stack__item--middle
                                span All caught up!
                                  br
                                  | No new logs.
              // END: Notifications
              //BEGIN: Profile
              li.m-nav__item.m-topbar__user-profile.m-topbar__user-profile--img.m-dropdown.m-dropdown--medium.m-dropdown--arrow.m-dropdown--header-bg-fill.m-dropdown--align-right.m-dropdown--mobile-full-width.m-dropdown--skin-light(data-dropdown-toggle='click')
                a.m-nav__link.m-dropdown__toggle(href='#')
                  span.m-topbar__userpic
                    img.m--img-rounded.m--marginless.m--img-centered(src='img/user5.jpg', alt='')
                  span.m-topbar__username.m--hide Nick
                .m-dropdown__wrapper
                  span.m-dropdown__arrow.m-dropdown__arrow--right.m-dropdown__arrow--adjust
                  .m-dropdown__inner
                    .m-dropdown__header.m--align-center(style='background: url(img/user_profile_bg.jpg); background-size: cover;')
                      .m-card-user.m-card-user--skin-dark
                        .m-card-user__pic
                          img.m--img-rounded.m--marginless(src='img/user5.jpg', alt='')
                        .m-card-user__details
                          span.m-card-user__name.m--font-weight-500 Mark Andre
                          a.m-card-user__email.m--font-weight-300.m-link(href='') mark.andre@gmail.com
                    .m-dropdown__body
                      .m-dropdown__content
                        ul.m-nav.m-nav--skin-light
                          li.m-nav__section.m--hide
                            span.m-nav__section-text Section
                          li.m-nav__item
                            a.m-nav__link(routerLink='/dashboard/profile')
                              i.m-nav__link-icon.flaticon-profile-1
                              span.m-nav__link-title
                                span.m-nav__link-wrap
                                  span.m-nav__link-text My Profile
                          li.m-nav__separator.m-nav__separator--fit
                          li.m-nav__item
                            a.btn.m-btn--pill.btn-secondary.m-btn.m-btn--custom.m-btn--label-brand.m-btn--bolder(routerLink='/login') Logout
              // END: Profile
        // END: Topbar
// END: Header
