section#why.section.why.section-bg-white
  .container
    h2.title.text-center.font-color How Can PinakLab Help You?
    p.intro.text-center
      | We provide you the utmost platform and nurture your talent to make you an
      | accomplished professional.
    .row.item.div-bg-white
      .content.col-xs-12.col-md-4
        h3.title Save Time
        .desc
          p With ever rising entertainment industry aspirants, finding the right opportunity to
            | showcase your talent has become a really tedious task in today’s time.
          p
            | Pinaklab provides you the shortcut to exactly what you need in this cut throat
            | competitive industry. Join us and we shall provide you the right advantage over your
            | contemporaries.
        .quote
          .quote-profile
            img.img-responsive.img-circle(src='../img/testimonials/udeshna.jpg', alt='image from testimonial')
          // //profile
          .quote-content
            blockquote
              p I must say Pinaklab's ability to collab with various talented artists is what sets them class apart.
                | Kudos to these guys.
            p.source Udeshna Kashyap, singer
          // //quote-content
        // //quote
      // //content
      figure.figure.col-md-offset-1.col-sm-offset-0.col-xs-offset-0.col-xs-12.col-md-7
        img.img-responsive(src='../img/info1.jpg', alt='graph image')
        figcaption.figure-caption Join us and stand out of the crowd.
    // //item
    .row.item
      .content.col-md-push-8.col-sm-push-0.col-xs-push-0.col-xs-12.col-md-4
        h3.title Quality Content
        .desc
          p
            | Talent succeeds when gelled with the right resources. Pinaklab specializes bringing
            | together talented like-minded individuals of all genres to churn out quality content be it
            | web-series, cover music videos, sketches, etc.
          p
            | We posses the right amount of balance of new and experienced artists to resonate with
            | the audiences’ taste, hence satiating masses alike.
          //p
          //  i.fa.fa-download
          //  a(routerLink='/videos') Download mobile versions
        .quote
          .quote-profile
            img.img-responsive.img-circle(src='../img/testimonials/varsha.jpg', alt='image from testimonials')
          // //profile
          .quote-content
            blockquote
              p
                a(href='https://www.facebook.com/pinaklab', target='_blank') Pinaklab
                |  lets your creativity reach its zenith. Exceptional people with the knack for crafting quality content.
            p.source Varsha Gupta, bass guitarist
          // //quote-content
        // //quote
      // //content
      figure.figure.col-md-pull-4.col-sm-pull-0.col-xs-pull-0.col-xs-12.col-md-7
        img.img-responsive(src='../img/figure-2.png', alt='image from img')
        .control.text-center
          button.play-trigger(type='button', data-toggle='modal', data-target='#modal-video', routerLink='/videos')
            i.fa.fa-play
        // //control
    // //item

    // //item
    .row.item.last-item
      .content.col-md-push-8.col-sm-push-0.col-xs-push-0.col-xs-12.col-md-4
        h3.title Services we provide
        .desc
          p
            | Pinaklab aims to bring our exclusive services that we render like digital portfolio, photo-
            | shoot, showreel, content on demand, various workshops and numerous opportunities
            | for live performances across various locations.
          p
            | Also, we provide humongous opportunity for content promotion and brand integration to
            | make your product or service popular among the masses in no time.
        .quote
          .quote-profile
            img.img-responsive.img-circle(src='../img/testimonials/mangesh.jpg', alt='image from testimonials')
          // //profile
          .quote-content
            blockquote
              p Young aspiring artists take note, only
                a(href='https://www.facebook.com/pinaklab', target='_blank')  Pinaklab
                |  can provide you sure shot opportunity to make a mark in
                | the entertainment industry.
            p.source Mangesh Punekar, singer, director
          // //quote-content
        // //quote
      // //content
      figure.figure.col-md-pull-4.col-sm-pull-0.col-xs-pull-0.col-xs-12.col-md-7
        img.img-responsive(src='../img/info2.jpg', alt='image from img')
        //figcaption.figure-caption Join us and stand out of the crowd.
    // //item
    .feature-lead.text-center
      h4.title Want to discover all the Services?
      p
        a.btn.btn-cta.btn-cta-secondary(routerLink='/services') Take a Tour
  // //container
