.showreel_a {
  background: #253340 url('../../../public/img/youtube.png');
  height: 270px;
  width: 420px;
  float: left;
  background-size: cover;
  margin: 50px 20px 20px 35px;
}
.col-sm-4 {
  padding: 4px!important;
}
.fit_reel {
  max-width: 100%;
}
.row_top {
  padding-top: 5px;
}