header
  .header-content
    .header-content-inner
      h1#homeHeading Your Favorite Source of Free Bootstrap Themes
      hr
      p Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!
      a.btn.btn-primary.btn-xl.page-scroll(href="#about") Find Out More
