.banner {
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../../../public/img/header.jpg');
  text-align: center;
  color: white;
}

@media (min-width: 768px){
  .banner {
    min-height: 100%;
  }
}
